@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-text-dimmed: var(--color-stone-500);
  --ui-text-muted: var(--color-stone-600);
  --ui-text-toned: var(--color-stone-500);
  --ui-text: var(--color-stone-700);
  --ui-text-highlighted: var(--color-stone-800);
  --ui-text-inverted: #ffffff;
  --ui-bg: var(--color-stone-50);
  --ui-bg-muted: var(--color-stone-100);
  --ui-bg-elevated: var(--color-stone-100);
  --ui-bg-accented: var(--color-stone-200);
  --ui-bg-inverted: var(--color-stone-900);
  --ui-border: var(--color-stone-300);
  --ui-border-muted: var(--color-stone-400);
  --ui-border-accented: var(--color-stone-300);
  --ui-border-inverted: var(--color-stone-800);
  --ui-radius: 0.6em;
  --ui-corner-shape: superellipse(2);
  --font-sans: 'Sen', 'Apple Color Emoji', sans-serif;
  --font-serif: 'Alice', Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'SFMono-Regular', ui-monospace, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --spacing: 0.2rem;
}

/* Custom Colors */
:root {
  --color-pastel-green-50: #f8f9f6;
  --color-pastel-green-100: #f0f3ec;
  --color-pastel-green-200: #dde3d4;
  --color-pastel-green-300: #c0cbaf;
  --color-pastel-green-400: #9eae84;
  --color-pastel-green-500: #718255;
  --color-pastel-green-600: #798c5a;
  --color-pastel-green-700: #56643f;
  --color-pastel-green-800: #3e482e;
  --color-pastel-green-900: #282e1e;
  --color-pastel-green-950: #1b1f14;
}

html, body {
  background-color: var(--ui-bg);
  color: var(--ui-text);
  font-family: var(--font-sans, ui-sans-serif);
}
code, pre, kbd, samp {
  font-family: var(--font-mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
}
.rounded, .rounded-lg, .rounded-md, .rounded-sm, .rounded-full, .rounded-xl, .rounded-2xl, .rounded-3xl {
  corner-shape: var(--ui-corner-shape, superellipse(1));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
